// 동그라미 wrapper
@circle: 50px;
@circle-lg: 75px;

.type-link-wrapper{
  float: left;
  width: @circle;
  @media (min-width: @phone) {
    width: @circle-lg;
  }
}

.type-link {
  background-color: @gray-95;
  color: @gray-66;
  display: inline-block;
  font-weight: bold;
  line-height: @circle;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  .square(@circle);
  @media (min-width: @phone) {
    .square(@circle-lg);
    line-height: @circle-lg;
  }
  &:hover,
  &:focus {
    background-color: @gray-90;
    color: @gray-33;
  }
}

.thumbnail-wrapper {
  float: left;
}

.entry-wrapper {
  float: left;
  margin-left: 20px;
}

.rank-data-wrapper {
  margin-top: 20px;
}
.team-emblem {
  display: inline;
  width: 40px;
  height: 40px;
}
.league-filter-select {
  width: 300px;
}
.sos-table {
  table-layout: fixed;
  > thead,
  > tbody,
  > tfoot {
    > tr > th,
    > tr > td {
      text-align: center;
      vertical-align: middle;
      width: 180px;
      padding: 5px;
    }
    > tr > .team-rank {
      width: 100px;
    }
    > tr > .team-name {
      text-align: left;
      width: auto;
    }
    > tr > th.thead {
      text-align: center;
    }
  }
  .team-emblem {
    margin-left: 90px;
    margin-right: 5px;
  }
}
